.home {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 1em;
}
.featuredProducts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 4em 0;
  border-bottom: 1px solid #dee2e6;
  margin: 4em 0 6em;
}
